<div class="cont">
  <hr>  
    <br>
      <h1 class="tituloPopular" >POPULAR</h1>  
    <div>
      <%- include('card.ejs')%>
    </div>
    
</div>

<hr>  

  
<footer class="footer">


    <div class="content has-text-centered">
      <p>
        <strong>Designer</strong> by Joathã Andrade - 2021<br>       
      </p>
      <div>
        <a href="https://github.com/joatha" target="blank"><img class="img"src="/img/github.png"/></a>
        <a href="https://www.linkedin.com/in/joatha/" target="blank"><img class="img"src="/img/lik.png"/></a>
      </div>
    </div>
  </footer>
</html>

<style>

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.img{
    width: 2%;
    justify-content: space-between;
}

.tituloPopular{
  align-items: center; 
  justify-content: center;
  text-align: center; 
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color:#333333 ;
}




</style>